body {
  background-color: #000;
}

h1 {
  color: #fff;
  text-align: center;
  font-size: 2em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: 0;
}

#game { 
  background-color: #000;
  width: 750px;
  height: 500px;
  border: 1px solid #fff;
  margin: 20px auto;
}