body {
  background-color: #000;
  background-image: url('/images/concrete_wall.png');
  background-repeat: repeat;
}

h1 {
  color: #fff;
  text-align: center;
  font-size: 2em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  margin: 0;
  text-transform: uppercase;
}

#game {
  background-color: #000;
  background-image: url('/images/repeated-square-dark.png');
  background-size: 40%;
  background-repeat: repeat;
  background-position: top left;
  width: 750px;
  height: 490px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  margin: 20px auto;
}

#game .snakeUnit {
  width: 30px;
  height: 30px;
}

